*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
body{
    font-family: 'poppins', sans-serif;
}
a:link,
a:visited{
    text-decoration: none;
}
.container{
    width:1180px;
    margin: 0 auto;
}
.row{
    display: table;
    clear: both;
    width: 100%;
    /* border: 2px solid red; */
}
/* header section css */
.header{
    background-color: #fcdb00;
    padding: 55px 0 100px;
}
[class^="col-"]{
    float: left;
    padding: 0 15px;
}
.col-2{
    width: calc(100% * 2/12);
}
.col-3{
    width: calc(100% * 3/12);
}
.col-4{
    width: calc(100% * 4/12);
}
.col-5{

    width: calc(100% * 5/12);
}
.col-9{

    width: calc(100% * 9/12);
}
.col-10{

    width: calc(100% * 10/12);
}
.offset-4{
    margin-left: calc(100%*4/12);
}
.offset-2{
    margin-left: calc(100%*2/12);
}
.offset-1{
    margin-left: calc(100%*1/12);
}
.mb-70{
    margin-bottom: 70px;
}
.mt-70{
    margin-bottom: 70px;
}
.pri-heading{
    font-size: 32px;
    color: #010101;
    font-weight: bold;
    margin-bottom: 20px;
}
.sec-heading{
    color: #313841;
    font-size: 20px;
    font-weight:inherit;
    margin-bottom: 25px;
}
.para{
    color: #555555;
    margin-bottom: 40px;
    /* font-size: 16px;
    font-weight: lighter; */
}
.navbar ul{
    display: inline-block;
}
.navbar ul li{
    display: inline-block;
    margin-left: 18px;

}
.navbar li a{
    padding: 18px;
    color: #010101;
    font-weight: bold;
    font-size: 22px;
    text-transform: capitalize;
    display: inline-block;
    line-height: 47px;
}
.logo{
    display: inline-block;
}
.brandlinks li{
    display: inline-block;
    margin-right: 40px;
}

.brandlinks li a i{
    font-size: 40px;
    color: #010101;

}
.inspiration{
    padding: 120px 0 75px;;
}
.icon i{
    font-size: 40px;
    color: #010101;
}
.thumbheading{
    font-size: 22px;
    color: #010101;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.thumbpara{
    color: #898989;
}
.thumbnail{
    margin-bottom: 85px;
}

